.seekArea{
  width:100%;
  padding:10px 15px 25px;
  cursor:pointer;
  .stickWrap{
    position:relative;
    width:100%;
    height:3px;
    border-radius:5px;
    background:rgba(255,255,255,.2);
    .loaded{
      position:absolute;
      left:0;
      top:0;
      width:0;
      height:3px;
      border-radius:5px;
      background:rgba(255,255,255,.5);
    }
    .pointsWrap{
      position:absolute;
      left:0;
      top:0;
      width:100%;
      height:3px;
      div{
        position:absolute;
        top:0;
        height:3px;
        width:3px;
        background:lawngreen;
      }
    }
    .stick{
      position:relative;
      width:0;
      height:3px;
      border-radius:5px;
      background:rgba(255,255,255,1);
      .handle{
        position:absolute;
        left:100%;
        top:50%;
        width:10px;
        height:10px;
        margin:-5px 0 0 -5px;
        border-radius:10px;
        background:#fff;
      }
    }
  }
}