$btnBg:rgba(0,0,0,.6);

.videoModule{
  position:relative;
  width:auto;
  // 비디오 플레이어 모바일에서 자체 control 안보이도록
  //IOS 13.* //IOS 14
  video::slotted::-webkit-media-controls-container, :host::shadow::-webkit-media-controls-container{
    display:none !important;
    visibility: hidden!important;
    opacity: 0 !important;
    -webkit-appearance: none !important;
  }

  video {
    &::-webkit-media-controls {
      display:none !important;
    }

    &::-webkit-media-controls-start-playback-button {
      display: none!important;
      -webkit-appearance: none;
    }
  }
  button{
    cursor:pointer;
    outline:0;
  }
  &:not(.noTouch):hover button{
    display:block;
  }
  .playLarge{
    display:none;
    position:absolute;
    left:50%;
    top:50%;
    width:8vw;
    height:8vw;
    margin:-5vw 0 0 -5vw;
    font-size:10vw;
    color:#fff;
    &.play{
      background:#fff;
      background-size:cover;
      -webkit-mask:url(../../../assets/images/playLarge.svg);
    }
    &.pause{
      background:#fff;
      background-size:cover;
      -webkit-mask:url(../../../assets/images/pauseLarge.svg);
    }
  }

  .controls{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    padding-top:10px;
    background:rgb(0,0,0);
    background:linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);

    .button,:global(.button){
      display:inline-block;
      width:30px;
      height:30px;
      padding:8px;
      border-radius:100%;
      transition-duration:.4s;
      color:#fff;
      &:hover{
        background-color:$btnBg;
        transition:background .4s;
      }
    }

    .upArea{
      width:100%;
      display:flex;
      flex-wrap:nowrap;
      .lefts{
        padding-left:10px;
        .times{
          margin-left:10px;
          font-size:12px;
          color:#fff;
        }
      }
      .rights{
        display:flex;
        flex-wrap:nowrap;
        margin-left:auto;
        padding-right:10px;

        > *{
          margin-left:10px;
        }
        .pip{
          padding-right:5px;
          color:#fff;
        }
        .option{
          position:relative;
          //width:auto;
          width:33px;
          height:30px;
          > button{
            padding:5px 0 0;
            color:#fff;
          }
          div{
            position:absolute;
            right:-8px;
            bottom:0;
            background:#fff;
            visibility:hidden;
            opacity:0;
            transition-duration:.1s;
            ul{
              padding:5px 0;
              button{
                display:block;
                width:100%;
                padding:5px 10px;
                text-align:right;
                white-space:nowrap;
                &:hover{
                  text-decoration:underline;
                }
              }
            }
          }
          &.on div{
            opacity:1;
            visibility:visible;
            transition:all .4s;
          }
        }
      }
    }

  }
  &.noTouch:after{
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:10;
  }
}

.dragCheckLayer{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:9999999;
}
