.option {
  position: relative;
  //width:auto;
  width: 33px;
  height: 30px;

  > button {
    padding: 5px 0 0;
    color: #fff;
  }

  div {
    position: absolute;
    right: -8px;
    bottom: 0;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition-duration: .1s;

    ul {
      padding: 5px 0;

      button {
        display: block;
        width: 100%;
        padding: 5px 10px;
        text-align: right;
        white-space: nowrap;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &.on div {
    opacity: 1;
    visibility: visible;
    transition: all .4s;
  }
}
