$btnBg:rgba(0,0,0,.6);

.volume{
  position:relative;
  width:30px;
  height:30px;
  .button{
    color: #fff;
    position:relative;
    z-index:1;
    width:20px;
    height:20px;
    padding:0;
    margin:5px 0 0 5px;
    &:hover{
      background:none;
    }
    &.mute{
      background:url(../../../assets/images/mute.svg);
      background-size:cover;
    }
  }
  .level{
    position:absolute;
    right:0;
    bottom:0;
    width:30px;
    height:30px;
    padding:13.5px 0 0 15px;
    border-radius:100px;
    overflow:hidden;
    background:$btnBg;
    visibility:hidden;
    opacity:0;
    transition-duration:.1s;
    :global(.p-slider .p-slider-handle){
      border:0px;
      height:10px;
      width:10px;
      margin-top:-5px;
      margin-left:-5px;
    }
    :global(.p-slider .p-slider-range){
      background:white;
    }
    :global(.p-slider:not(.p-disabled) .p-slider-handle:hover){
      background:white;
      border-color:white;
    }
    .stickWrap{
      width:0;
      height:3px;
      border-radius:5px;
      background:rgba(255,255,255,.3);
      opacity:0;
      transition-duration:.2s;
      .stick{
        position:relative;
        height:3px;
        border-radius:5px;
        background:rgba(255,255,255,.7);
        .handle{
          position:absolute;
          left:100%;
          top:50%;
          width:10px;
          height:10px;
          margin:-5px 0 0 -5px;
          border-radius:10px;
          background:#fff;
        }
      }
    }
  }
  &.on .level{
    width:110px;
    visibility:visible;
    opacity:1;
    transition:all .4s;
    .stickWrap{
      width:60px;
      opacity:1;
      transition:all .4s;
    }
  }
}
