.layout-wrapper.layout-news-active {
  .layout-topbar {
    top: 70px;
  }

  .layout-sidebar {
    top: 140px;
    height: calc(100% - 140px);
  }

  .layout-content {
    padding-top: 140px;
  }

  .layout-config {
    top: 140px;
    height: calc(100% - 140px);
  }
}
