.layout-sidebar {
  position: fixed;
  left: 0;
  top: 70px;
  height: calc(100% - 70px);
  background-color: var(--surface-a);
  overflow: auto;
  width: 250px;
  border-right: 1px solid var(--surface-d);
  user-select: none;
  padding: 1rem 0;
  transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);

  .layout-sidebar-filter {
    width: 100%;
  }

  .layout-menu {
    .menu-category {
      display: block;
      color: var(--text-color-secondary);
      font-weight: 600;
      user-select: none;
      padding: 1.5rem 0 1rem 0;
      font-size: 0.857rem;
      text-transform: uppercase;
      border-top: 1px solid var(--surface-d);

      &:first-child {
        border-top: 0 none;
        padding-top: 1rem;
      }
    }

    .menu-items {
      padding: 0 0 1rem 0;
      display: flex;
      flex-direction: column;

      a,
      button {
        color: var(--text-color);
        display: flex;
        padding: 0.5rem;
        border-radius: 3px;
        cursor: pointer;
        align-items: center;

        .layout-menu-badge {
          padding: 0.14rem 0.5rem;
          font-size: 0.7rem;
          line-height: 1.4;
        }

        &:hover {
          background-color: var(--surface-c);
        }

        &:focus {
          z-index: 1;
          outline: 0 none;
          transition: box-shadow 0.2s;
          box-shadow: 0 0 0 0.2em $focusBorderColor;
        }

        &.router-link-exact-active {
          font-weight: 700;
        }
      }

      div {
        &.router-link-exact-active {
          > a {
            font-weight: 700;
          }

          ul {
            display: block;
          }
        }

        ul {
          padding: 0.5rem 0;
          margin: 0;
          list-style-type: none;

          a {
            font-size: 0.875rem;
            padding: 0.475rem 0.5rem 0.475rem 2rem;
          }
        }
      }
    }
  }
}
