*{padding:0; margin:0}

.thumbnailSet{
  display:inline-block;
  button{
    display:block;
    width:auto;
    height:50px;
    border:0;
    cursor:pointer;
    text-align:center;
    background:none;
    img{
      display:block;
      width:auto;
      height:100%;
    }
  }
  .modalWrap{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index: 9999999;
    text-align:center;
    background:rgba(0,0,0,.8);
    img{
      max-width:100%;
      max-height:100%;
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      margin:auto;
    }
    .modalClose{
      position:absolute;
      right:30px;
      top:30px;
      font-size:40px;
      border:0;
      cursor:pointer;
      background:none;
      color:#fff;
    }
  }
}

.smithGridTableTitleArea{
  display:flex;
  align-items:center;
  padding:10px;
  border:solid #dfdfdf;
  border-width:1px 1px 0;
  background:#f8f9fa;
  strong{
    font-size:16px;
    font-weight:bold;
  }
  .rightContent{
    margin-left:auto;
  }
}

.smithGridTable{
  margin-top:0;
  margin-left:0;
  margin-right:0;
  border:solid #dfdfdf;
  border-width:1px 0 0 1px;
  > div{
    padding:0;
  }
  .rowspanWrap{
    display:flex;
    width:100%;
    .rowTitle{
      display:flex;
      padding:0.75em;
      align-items:center;
      justify-content:center;
      border:solid #dfdfdf;
      border-width:0 1px 1px 0;
      background:#f8f9fa;
    }
    .row{
      display:flex;
      flex-direction:column;
      width:100%;
      > div{
        padding:0;
      }
    }
  }
  .gridDl{
    display:flex;
    height:100%;
    border:solid #dfdfdf;
    border-width:0 1px 1px 0;
    dt,dd{
      display:flex;
      padding:.75rem;
      font-size:12px;
    }
    dt{
      width:120px;
      border-right:1px solid #dfdfdf;
      font-weight:bold;
      text-align:right;
      background:#f8f9fa;
    }
    dd{
      width:calc(100% - 120px);
      .p-button{
        white-space:nowrap;
      }
    }
  }
  .vertical &{
    dl{
      flex-direction:column;
      dt{
        width:100%;
        border-right:0;
      }
      dd{
        width:100%;
      }
    }
  }
}

.smithDim{
  position:fixed;
  left:0;
  top:0;
  width:100vw;
  height:100vh;
  z-index:999999;
  background:rgba(255,255,255,.8);
  .p-progress-spinner{
    position:absolute;
    left:50%;
    top:50%;
    margin:-50px 0 0 -50px;
  }
}

.smithBreadCrumb{
  position:relative;
  top:-8px;
  margin-bottom:15px;
  padding:0;

  ul{
    display:flex;
    li{
      margin-right:8px;
      *{
        font-size:11px;
        color:#707070;
      }
      .pi{
        margin-right:5px;
        font-size:10px;
      }
      .pi-home{
        margin-right:0;
        font-size:12px;
      }
      button{
        cursor:pointer;
      }
    }
  }
}

.customGnb{
  display:flex;
  ul{
    display:flex;
    align-items:center;
    > li{
      margin-right:30px;
      > a,button{
        font-size:16px;
        cursor:pointer;
        color:#000;
      }
      > a.current,button.current,a:hover,button:hover span{
        color:#2063f3;
      }
    }
  }
}

.defTable{
  width:100%;
  margin-bottom:40px;
  border:1px solid #dfdfdf;
  border-collapse:collapse;
  border-radius:5px;
  th,
  td{
    border:1px solid #dfdfdf;
    padding:10px 18px;
  }
  th{
    text-align:right;
    font-size:12px;
    font-weight:bold;
    background:#f8f9fa;
  }
}

.fakeTable{display:block;
  width:100%; margin-bottom:40px;
  border:solid #dfdfdf;
  border-width:1px 0 0 1px;

  > li{display:flex;
    width:100%;
    align-items:stretch;

    > dl{
      display:flex;
      width:50%;
      table-layout:fixed;
      > dt,
      > dd{
        display:table-cell;
        padding:10px 18px;
        border:solid #dfdfdf;
        border-width:0 1px 1px 0;
        vertical-align:middle
      }
      > dt{
        width:120px;
        text-align:right;
        font-size:12px;
        font-weight:bold;
        background:#f8f9fa
      }
      > dd{
        width:calc(100% - 120px)
      }
    }
  }
  .row{width:100%}
  .row > dl{width:100%}
}

.fakeTable > li:after{content:''; display:block; clear:both}

.taL{
  text-align:left;
  button{
    margin-right:10px;
  }
}
.taR{
  text-align:right;
  button{
    margin-left:10px;
  }
}
.taC{
  text-align:center;
  button{
    margin:0 5px;
  }
}

.tooltipLine{
  position:relative;
  width:100%;
  padding-top:50px;
  .p-tooltip{
    position:absolute;
    bottom:20px;
    margin-left:-25px;
    &:after{
      content:'';
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
    }
    .p-tooltip-text{
      width:50px;
      text-align:center;
      padding-left:0;
      padding-right:0;
      font-size:10px;
      cursor:pointer;
      white-space:nowrap;
    }
  }
}

@media (max-width:960px) {
  .fakeTable > li{display:block;
    dl{
      display:table;
      width:100%
    }
  }

  .smithBreadCrumb{
    top:0;
    padding:5px 0 0 15px;
  }
}
