.themeLayer{position:fixed; right:0; bottom:-60px; width:100%; padding:10px 0; transition-duration:.3s; background:#fafafa}
.themeLayer.on{bottom:0px; transition:all .3s}

.themeLayer h1{position:absolute; left:10px; top:17px; margin:0; line-height:1; font-size:15px}
/*.themeLayer h1 img{height:22px}*/

.trigger{position:absolute; right:10px; top:-43px; width:30px; height:30px; border-radius:100%; border:0; cursor:pointer; color:#fff; background:#000}
.trigger i{transform:rotate(45deg); transition-duration:.3s}

.themeLayer.on .trigger i{transform:rotate(360deg)}