
.rightSet button{border:0; background:none; cursor:pointer}
.rightSet{position:absolute; right:35px; top:20px}
.userUtil{display:inline-block; position:relative; width:30px}
.userUtil > button{display:block; width:30px; height:30px; border-radius:100%; overflow:hidden; background:#f0f0f0 url(assets/images/who.png); background-size:100%}
.userUtil > button img{width:100%}
.userUtil > div{display:none; position:absolute; right:0; top:35px; border:1px solid #ccc; z-index:1001; background:#fff}
.userUtil > div.on{display:block}
.userUtil > div button{display:block; width:100%; padding:5px 10px; font-size:10px; white-space:nowrap; text-align:left}
.userUtil > div button .pi{margin-right:5px}
.userUtil > div button:hover{background:#f0f0f0}
.userUtil > div li.logOut{display:none}
.rightSet .signOut{display:inline-block; margin:4px 0 0 14px; vertical-align:top}

@media (max-width:960px){
    .rightSet{top:10px; right:10px}
    .rightSet .signOut{display:none}
    .userUtil > div li.logOut{display:block}
}