$imgSrc:'../../public/images/chart/';

:local .chartHeader{
    overflow: hidden;

    .chartIcon{
        float: right;
    }
    :global .p-selectbutton{
        display:inline-block;
        vertical-align: middle;
        margin-right:8px;
        .p-button{
            padding:2px 5px;
            span{
                font-size:10px;
            }
        }
    }
     .button {
         width: 20px;
         height: 20px;
         margin-right:8px;
         display: inline-block;
         padding:0;
         border:0;
         cursor:pointer;
         vertical-align: bottom;
    }
    .bar {
        background: url($imgSrc + 'bar.png');
        background-size:cover;
    }
    .line{
        background: url($imgSrc + 'line.png');
        background-size:cover;
    }
    .horizontalBar{
        background: url($imgSrc + 'horizontal_bar.png');
        background-size:cover;
    }
    .pie{
        background: url($imgSrc + 'pie.png');
        background-size:cover;
    }
    .doughnut{
        background: url($imgSrc + 'doughnut.png');
        background-size:cover;
    }
    .asc{
        background: url($imgSrc + 'asc.png');
        background-size:cover;
    }
    .desc{
        background: url($imgSrc + 'desc.png');
        background-size:cover;
    }

}