@charset "utf-8";

.userCard{width:100%; padding:20px; margin:0 auto}
.userCard .pic{width:100%; background:#f0f0f0}
.userCard .pic img{width:100%}
.userCard .hello{padding:10px 0 0; text-align:center; color:#fff}
.userCard .hello strong{color:#f00}
.userCard .botBtn{text-align:right}
.userCard .botBtn button{margin-left:10px; border:0; color:#fff; background:#000}