.wrapper {
    width: 100%;
    text-align: center;

    height:calc(100vh - 150px);
}

.wrapper>div{
    width: 500px;
    height: 340px;
    display: inline-block;
    margin-top:150px;
}

.wrapper :global .p-field{
    text-align:left;
}