.wrapper {
    width: 100%;
    text-align: center;

    height:calc(100vh - 150px);
}

.wrapper>div{
    width: 500px;
    height: 340px;
    display: inline-block;
    margin-top:150px;
}

.input{
    width:100%
}

.buttonWrapper{
    margin:0;
}

.buttonWrapper :global(.p-field-checkbox){
    margin-bottom: 0;
}

.wrapper :global(.p-invalid){
    text-align:start;
}