.wrapper{
    width:540px;
    /*margin-bottom:40px;*/
    /*background-color: #a86de7;*/
}

.wrapper :global .p-col-fixed{
    width: 120px
}
.info{
    margin-bottom: 30px;
}

.wrapper :global .p-field{
    margin-right:0;
    margin-left:0;
}