.buttonDemo :global {
  .p-button {
    margin-right: .5rem;
  }

   .p-buttonset .p-button {
    margin-right: 0;
  }

  .sizes .button {
    margin-bottom: .5rem;
    display: block;
  }

   .sizes .button:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 960px) {
  .buttonDemo :global{
    .p-button {
      margin-bottom: .5rem;
    }

    .p-button:not(.p-button-icon-only) {
      display: flex;
      width: 100%;
    }

    .p-buttonset .p-button {
      margin-bottom: 0;
    }
  }

}