.p-data-scroller {
.product-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.product-description {
  margin: 0 0 1rem 0;
}

.product-category-icon {
  vertical-align: middle;
  margin-right: .5rem;
}

.product-category {
  font-weight: 600;
  vertical-align: middle;
}

.product-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.product-item img {
  width: 150px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 2rem;
}

.product-item .product-detail {
  flex: 1 1 0;
}

.product-item .p-rating {
  margin: 0 0 .5rem 0;
}

.product-item .product-price {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: .5rem;
  align-self: flex-end;
}

.product-item .product-action {
  display: flex;
  flex-direction: column;
}

.product-item .p-button {
  margin-bottom: .5rem;
}
}

@media screen and (max-width: 576px) {
  .product-item {
    flex-direction: column;
    align-items: center;
  }

  .product-item img {
    width: 75%;
    margin: 2rem 0;
  }

  .product-item .product-detail {
    text-align: center;
  }

  .product-item .product-price {
    align-self: center;
  }

  .product-item .product-action {
    display: flex;
    flex-direction: column;
  }

  .product-item .product-action {
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}


.customer-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;

  &.status-qualified {
    background-color: #C8E6C9;
    color: #256029;
  }

  &.status-unqualified {
    background-color: #FFCDD2;
    color: #C63737;
  }

  &.status-negotiation {
    background-color: #FEEDAF;
    color: #8A5340;
  }

  &.status-new {
    background-color: #B3E5FC;
    color: #23547B;
  }

  &.status-renewal {
    background-color: #ECCFFF;
    color: #694382;
  }

  &.status-proposal {
    background-color: #FFD8B2;
    color: #805B36;
  }
}

.product-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;

  &.status-instock {
    background: #C8E6C9;
    color: #256029;
  }

  &.status-outofstock {
    background: #FFCDD2;
    color: #C63737;
  }

  &.status-lowstock {
    background: #FEEDAF;
    color: #8A5340;
  }
}
