.p-order-list{
.product-item {
  display: flex;
  align-items: center;
  padding: .5rem;
  width: 100%;
}

.product-item img {
  width: 75px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 1rem;
}
.product-item .product-list-detail {
  flex: 1 1 0;
}

.product-item .product-list-action {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.product-item .product-category-icon {
  vertical-align: middle;
  margin-right: .5rem;
}

.product-item .product-category {
  vertical-align: middle;
  line-height: 1;
}

@media screen and (max-width: 576px) {
  .product-item {
    flex-wrap: wrap;
  }

  .product-item .image-container {
    width: 100%;
    text-align: center;
  }

  .product-item img {
    margin: 0 0 1rem 0;
    width: 100px;
  }
}

}