.piecesWrap{
  width:100%;
  margin-top:40px;
  padding:10px 10px 0 0;
  button{
    float:left;
    width:10px;
    height:15px;
    margin:0 0 4px 3px;
    background:skyblue;
    &.checked{
      border-bottom:8px solid royalblue;
    }
    &.played{
      background:hotpink;
    }
  }
  &:after{
    content:'';
    display:block;
    clear:both;
  }
}