@charset "utf-8";

*{padding:0; margin:0}

li{list-style-type:none}

.p-button{background:none; border:0}
.p-button:enabled:hover,
.p-button:enabled:active{border-color:inherit; background:inherit}
.p-button:focus{outline:0 !important; box-shadow:none}

.btn-primary:enabled:focus,
.btn-primary:enabled:hover{border-color:#0069d9; color:#fff; background:#0069d9}
.btn-info:enabled:focus,
.btn-info:enabled:hover{border-color:#08005f; color:#fff; background:#08005f}

.p-dropdown{width:100%; height:50px}
.p-dropdown .p-dropdown-label{padding-top:10px; padding-left:20px; font-size:16px}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item{font-size:16px}

.p-checkbox{position:relative; top:-3px; margin-right:5px}

.p-radiobutton{margin-right:5px; vertical-align:baseline}

